@page
@model MemeLibrary.Web.Pages.Memes.Memes
@{
    ViewData["Title"] = "Memes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        @foreach(var meme in Model.MemeList)
        {
            <li>@meme.Name</li>
            @* <img src="@meme.Url" />  *@
        }
    </ul>
</div>