@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is to practice ASP.NET Razor Pages to create dynamic web pages.</p>
    <p>Meme data is from <a href="https://imgflip.com/api">Imgflip API</a></p>
    <p>To get 100 most popular memes, use URL: https://api.imgflip.com/get_memes, method: GET</p>
    <br />
    <p>Features available: browse meme library with pagination, search meme by name, choose order to display memes</p>
    <br />
    <p>More details on GitHub: <a href="https://github.com/khanhngguyen/meme-library">https://github.com/khanhngguyen/meme-library</a></p>
</div>
